<div class="customer-container"> 
  <div>
    <div class="new-customer">
      <button mat-raised-button color='primary' (click)='newCustomer()'>New Customer</button>
    </div>
    <mat-card *ngFor="let item of customers" class="customer-card">
      <mat-card-header>
        <div mat-card-avatar class="customer-header-image"></div>
        <mat-card-title>{{item.firstName}}</mat-card-title>
        <mat-card-subtitle>Stock Actual: {{item.lastName}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{item.country}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn btn-light" (click)="editCustomer(item.id)">Edit</button>
        <button class="btn btn-primary" (click)="viewDetails(item.id)">Detalis</button>
        <!-- <button mat-button>Editar</button>
        <button mat-button>Eliminar</button> -->
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="paginator-container">
    <mat-paginator [length]="numberOfRecords" [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" 
                  (page)="changePage($event)">

    </mat-paginator>
  </div>
</div>
