@import '../../shared/responsive-breakpoints.scss';
.new-customer-form-field{
    width: 100%;
    padding-left: 10px;
    @include respond-to(sm-screen){
        padding-left: 0px;
    }
}

.element-form{
    display: flex;
    align-items: center;
    @include respond-to(sm-screen){
        flex-direction: column;
        align-items: baseline;
    }
}

.label-description{
    width: 110px;
    margin-bottom: 0px;
}